notebooks/.ipynb_checkpoints/01-intro-checkpoint.ipynb
notebooks/.ipynb_checkpoints/01_intro-checkpoint.md
Gampy/Gampy.egg-info/top_level.txt
Gampy/Gampy.egg-info/SOURCES.txt
Gampy/Gampy.egg-info/dependency_links.txt
Gampy/Gampy.egg-info/PKG-INFO
Gampy/setup.py
